[submodule "aima-data"]
	path = aima-data
	url = https://github.com/aimacode/aima-data.git
[submodule "MP-SPDZ"]
	path = MP-SPDZ
	url = https://github.com/jmayhugh1/MP-SPDZ.git
	branch = master
[submodule "searobotics_surveyor"]
	path = searobotics_surveyor
	url = https://github.com/smolinad/searobotics_surveyor.git
	branch = main

